* {
    padding: 0;
    margin: 0;
}
html{
    font-size: 16px;
    box-sizing: border-box;
}
body{
    font-family: 'PT Sans Caption', sans-serif;
    margin: 0;
}
div.wrapper{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

/* Sidebar */
aside{
    width: 30%;
    overflow: hidden;
    padding: 1em;
}
aside form {
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    padding: 1em;
    border: 1px solid #e3e3e3;
}
aside form span {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0rem 0 0.7rem;
}
aside form button {
    margin-top: 1em;
    background: linear-gradient(#af232e,#971821);
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 1.5em;
    padding: 1rem;
    border: 0.5em solid white;
    box-shadow: 0px 3px 10px -3px black;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
.inp.light{
    background-color: #e3e4e6;
    border-color: white;
    box-shadow: inset 0px 10px 20px -17px black;
    margin: 0.3em 0em;
    color: grey;
    /* padding-top: 0.1em;
    padding-bottom: 0.1em; */
    font-size: 1em;
    height: 2.2em;
}
.inp.light.sel{
    /* margin: 1em 0 0 0; */
    border: 1px solid silver;
    box-shadow: none;
    /* appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none; */
    padding-right: 25px;
    background-size: 10em 1em;
}
.sidebar-text{
    margin-top: 1.5rem;
    line-height: 1.5em;
}
.sidebar-text h2{
    color: black;
    font-size: 1.5em;
    margin-bottom: 0.5rem;
}


.inp {
    background-color: #24272C;
    box-shadow: inset 0px 10px 15px -10px black;
    border: 1px solid #AE4B5D;
    color: white;
    height: 2.8em;
    padding-left: 0.5em;
    border-radius: 0.35em;
    -webkit-border-radius: 0.35em;
    -moz-border-radius: 0.35em;
    -ms-border-radius: 0.35em;
    -o-border-radius: 0.35em;
}

.underlined-red {
    color: #971422;
    text-decoration: underline;
}
