* {
    padding: 0;
    margin: 0;
}
html{
    font-size: 16px;
    box-sizing: border-box;
}
body{
    font-family: 'PT Sans Caption', sans-serif;
    margin: 0;
}

.border {
    border: 1px solid black;
}

header{
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    background: linear-gradient(#343D42, #242934);
}
header .left {
    flex: 1;
    padding: 0.3em 0em;
}
header .right{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1:first-letter {
    color: #AD4C5D;
}
h1 {
    color: #A6ADB7;
}
h2 {
    color: #A6ADB7;
    font-size: 1.1em;
}

.header-slogan {
    color: #677079;
    font-size: 0.8em;
    margin-top: -0.5em;
}

header .right button {
    background-color: #AE4B5D;
    color: white;
    /*padding: 0.75em;
    */width: 3em;
    height: 3em;
    border: none;
    border-radius: 0.35em;
    -webkit-border-radius: 0.35em;
    -moz-border-radius: 0.35em;
    -ms-border-radius: 0.35em;
    -o-border-radius: 0.35em;
}

.inp {
    background-color: #24272C;
    box-shadow: inset 0px 10px 15px -10px black;
    border: 1px solid #AE4B5D;
    color: white;
    height: 2.8em;
    padding-left: 0.5em;
    border-radius: 0.35em;
    -webkit-border-radius: 0.35em;
    -moz-border-radius: 0.35em;
    -ms-border-radius: 0.35em;
    -o-border-radius: 0.35em;
}

.under-header {
    background-image: url("../img/bg/cherry.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.under-header .content {
    width: 60%;
    padding: 3em;
}
.under-header .content .text-top p {
    color: #5B656F;
}

.underlined-red {
    color: #971422;
    text-decoration: underline;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    background: linear-gradient(#21272b, #232934);
    color: #677079;              /* text */
    border-top: 0.7em solid;
    border-top-color: #a74154;
    width: auto;
    padding: 2.1em;
}
hr {
	width: 75%;
    border: 1px inset #636c70;
    margin-bottom: 0.4em;
}
	
footer .left{
    flex: 1;    
}

footer .left p i {
    color: #a74154;
    padding-left: 0.15em; 
}

footer .left p {
    padding-top: 0.7em;
    font-size: 0.87em; 
}

footer .left .footer_text i{
    font-size: 1.4em;
}

footer .left .footer_social_icons {
    padding-top: 1em;
}

footer .left .footer_social_icons a{
    font-size: 2em;
}

footer .center{
    flex: 1;    
}

footer .center ul {
    color: #a74154;
}

footer .center ul span {
    color:#677079;
}

footer .center li {
    padding-top: 0.7em;
    margin-left: 1.3em;
    font-size: 0.87em;  
}

footer .center p {
    padding-top: 0.8em;
    padding-left: 0.25em;
    font-size: 1.01em;
    color: #9399a0;
}

footer .right{
    flex: 1;   
}

footer .right p a {
    color: #d08c99;
}

footer .right p {
    padding-top: 0.6em;
    padding-left: 0.2em;
    font-size: 0.87em;
}

footer .left h1{
    font-size: 1.2em;
    padding-bottom: 0.3em;     
}

footer .center h1{
    font-size: 1.2em;    
    padding-bottom: 0.3em;     
}

footer .right h1{
    font-size: 1.2em;    
    padding-bottom: 0.3em;    

}